<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
    <!--指定包下的      类型的简单名称 作为别名-->
    <typeAliases>
        <package name="cn.studio.entity"></package>
    </typeAliases>
</configuration>